$color: #92a8d1;
$backgroundimage: url(image/portfolio.jpg);
$repeat: no-repeat;
$size: auto;

h1 {
  color: $color;
}

body {
  background-image: $backgroundimage;
  background-repeat: $repeat;
  background-size: $size;
}
